@page
@model WebApplication1.Pages.checkoutModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/shop.css">
    <link rel="stylesheet" type="text/css" href="~/checkout.css">
</head>
<body>
    <section class="control">
        <header class="navi">


            <h1 class="ender"> Copyright. Aras Butrimanskas - N0844425 NTU </h1>

            <a asp-page="index"><img class="pt-0" src="~/logosmall.png" alt="driftgineers logo"></a>
            <ul>
                <li><a asp-page="index">Home</a></li>
                <li><a asp-page="shop">Shop</a></li>
                <li><a class="active" href="#">Cart</a></li>
            </ul>
        </header>
    </section>
    <main class="page payment-page">
        <section class="payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2>@Model.customername's Payment</h2>
                </div>
                <form method="post">
                    <div class="products">
                        <h3 class="title">Checkout</h3>
                        @foreach (var item in Model.cart)
                        {
                            <div class="item">
                                <span class="price">&euro;@item.price</span>
                                <p class="item-name">@item.Name</p>
                                <p class="item-description">Quantity: @item.Quantity</p>
                            </div>
                        }

                        <div class="total">Total<span class="price">&euro;@Model.total</span></div>
                    </div>
                        <div class="card-details">
                            <h3 class="title">Billing Information</h3>
                            <div class="row">
                                <div class="form-group col-sm-7">
                                    <label class="blacktext" for="card-holder">Card Holder Name</label>
                                    <input id="card-holder" asp-for="cardname" type="text" class="form-control" placeholder="Card Holder">
                                    <span asp-validation-for="cardname" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-5">
                                    <label for="">Expiration Date</label>
                                    <div class="input-group expiration-date">
                                        <input type="text" class="form-control" placeholder="MM">
                                        <span class="date-separator">/</span>
                                        <input type="text" class="form-control" placeholder="YY">
                                    </div>
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="card-number">Card Number</label>
                                    <input id="card-number" asp-for="cardno" type="text" class="form-control" placeholder="Card Number" />
                                    <span asp-validation-for="cardno" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="cvc">CVC</label>
                                    <input id="cvc" asp-for="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
                                    <span asp-validation-for="cvc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-details">
                            <h3 class="title">Shipping Information</h3>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="Name">Name</label>
                                    <input id="Firstname" asp-for="name" type="text" class="form-control" placeholder="Name">
                                    <span asp-validation-for="name" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="Surname">Surname</label>
                                    <input id="Surname" asp-for="surname" type="text" class="form-control" placeholder="Surname">
                                    <span asp-validation-for="surname" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="Address">Address</label>
                                    <input id="Address" asp-for="address" type="text" class="form-control" placeholder="Address">
                                    <span asp-validation-for="address" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-7">
                                    <label for="Country">Country</label>
                                    <input id="Country" asp-for="country" type="text" class="form-control" placeholder="Country">
                                    <span asp-validation-for="country" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-5">
                                    <label for="PostCode">Post Code</label>
                                    <input id="PostCode" asp-for="post" type="text" class="form-control" placeholder="Post Code">
                                    <span asp-validation-for="post" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <a asp-page="cart"><button type="button" class="btn addtocart">Back To Cart</button></a>
                                </div>
                                <div class="form-group col-sm-6">
                                    <a asp-page-handler="Checkout"><button type="submit" class="btn addtocart right">Purchase</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>