@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <script src="carousel.js" defer></script>
    <script src="index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    
</head>

<body>
    <div id="container12">
        <div id="container1">
            <section class="control">
                <header class="navi">
                    <partial name="_LoginPartial" />
                    <footer>
                        <h1 class="ender"> Copyright. Aras Butrimanskas - N0844425 NTU </h1>
                    </footer>
                    </a>
                    <a href="#"><img src="logosmall.png" alt="driftgineers logo"></a>

                    <ul>
                        <li><a onclick="scrollToElementWithId('container2')">Hot Deals!</a></li>
                        <li><a class="active" href="#home">Home</a></li>
                        <li><a asp-page="shop">Shop</a></li>
                        <li><a onclick="scrollToElementWithId('container3')">About</a></li>
                    </ul>

                </header>
            </section>
            <section class="customization">
                <ul>
                    <li class="font-inc"><a href="#">A+</a></li>
                    <li class="font-reset"><a href="#">A</a></li>
                    <li class="font-dec"><a href="#">A-</a></li>
                </ul>
            </section>
            <section class="backgroundcolors">
                <ul>
                    <li class="dark"><a href="#">Dark</a></li>
                    <li class="light"><a href="#">Light</a></li>


                </ul>


            </section>

            <div class="background-text1">
                <h1> Parts </h1>
            </div>
            <div class="background-text2">
                <h1> Built for </h1>
            </div>
            <div class="background-text3">
                <h1> Perfection </h1>
            </div>
        </div>
        <section id="container2">
            <h1 class="hdeals"> Hot Deals! (Assessment 1 Demo Purposes) </h1>
            <div class="row">
                <button id="prevcarousel" onclick="changecarousel(-1)">
                    &lt;
                </button>
                <div class="carousel">
                    <div class="itemcolumn">
                        <a href="#"> <img src="item1.png" alt="coilover photo"> <br> </a>
                        <h2> RedLine Coilovers BMW 5 Series</h2> <br>
                        <p class="orgprice"><s> &euro; 289.00 </s></p>
                        <p class="dealprice"> &euro; 209.00! (Price incl. VAT)</p> <br><br>
                        <button> add to cart </button>





                    </div>
                    <div class="itemcolumn">
                        <a href="#"> <img src="item2.png" alt="coilover photo"> <br> </a>
                        <h2> BlueLine Coilovers BMW 3 Series E36/5 </h2> <br>
                        <p class="orgprice"><s> &euro; 299.00 </s></p>
                        <p class="dealprice"> &euro; 249.00! (Price incl. VAT)</p> <br><br>
                        <button> add to cart </button>






                    </div>
                    <div class="itemcolumn">
                        <a href="#"> <img src="item3.png" alt="coilover photo"> <br> </a>
                        <h2> NJT EXtrem Coilovers BMW 1 series </h2> <br>
                        <p class="orgprice"><s> &euro; 459.00 </s></p>
                        <p class="dealprice"> &euro; 399.00! (Price incl. VAT)</p> <br><br>
                        <button> add to cart </button>
                    </div>
                </div>


                <div class="carousel">
                    <div class="itemcolumn">

                        <a href="#"> <img src="item10.jpg" alt="coilover photo"> <br> </a>
                        <h2> MaxPeedingRods Coilovers E36</h2> <br>
                        <p class="orgprice"><s> &euro; 349.00 </s></p>
                        <p class="dealprice"> &euro; 299.00! (Price incl. VAT)</p> <br><br>
                        <button> add to cart </button>





                    </div>
                    <div class="itemcolumn">
                        <a href="#"> <img src="item11.png" alt="coilover photo"> <br> </a>
                        <h2> MaxPeedingRods Coilovers E46 </h2> <br>
                        <p class="orgprice"><s> &euro; 349.00 </s></p>
                        <p class="dealprice"> &euro; 299.00! (Price incl. VAT)</p> <br><br>
                        <button> add to cart </button>






                    </div>
                    <div class="itemcolumn">
                        <a href="#"> <img src="item12.png" alt="coilover photo"> <br> </a>
                        <h2> NJT EXtrem Coilovers BMW 3 series </h2> <br>
                        <p class="dealprice"> Sold Out!</p> <br>

                    </div>
                </div>

                <button id="nextcarousel" onclick="changecarousel(1)"> > </button>
            </div>
            <div class="itemcolumnphone">
                <a href="#"> <img src="item1.png" alt="coilover photo"> <br> </a>
                <h2> RedLine Coilovers BMW 5 Series</h2> <br>
                <p class="orgprice"><s> &euro; 289.00 </s></p>
                <p class="dealprice"> &euro; 209.00! (Price incl. VAT)</p> <br><br>
                <button> add to cart </button>





            </div>
            <div class="itemcolumnphone">
                <a href="#"> <img src="item2.png" alt="coilover photo"> <br> </a>
                <h2> BlueLine Coilovers BMW 3 Series E36/5 </h2> <br>
                <p class="orgprice"><s> &euro; 299.00 </s></p>
                <p class="dealprice"> &euro; 249.00! (Price incl. VAT)</p> <br><br>
                <button> add to cart </button>






            </div>
            <div class="itemcolumnphone">
                <a href="#"> <img src="item3.png" alt="coilover photo"> <br> </a>
                <h2> NJT EXtrem Coilovers BMW 1 series </h2> <br>
                <p class="orgprice"><s> &euro; 459.00 </s></p>
                <p class="dealprice"> &euro; 399.00! (Price incl. VAT)</p> <br><br>
                <button> add to cart </button>
            </div>

            <div class="itemcolumnphone">

                <a href="#"> <img src="item10.jpg" alt="coilover photo"> <br> </a>
                <h2> MaxPeedingRods Coilovers E36</h2> <br>
                <p class="orgprice"><s> &euro; 349.00 </s></p>
                <p class="dealprice"> &euro; 299.00! (Price incl. VAT)</p> <br><br>
                <button> add to cart </button>





            </div>
            <div class="itemcolumnphone">
                <a href="#"> <img src="item11.png" alt="coilover photo"> <br> </a>
                <h2> MaxPeedingRods Coilovers E46 </h2> <br>
                <p class="orgprice"><s> &euro; 349.00 </s></p>
                <p class="dealprice"> &euro; 299.00! (Price incl. VAT)</p> <br><br>
                <button> add to cart </button>






            </div>
            <div class="itemcolumnphone">
                <a href="#"> <img src="item12.png" alt="coilover photo"> <br> </a>
                <h2> NJT EXtrem Coilovers BMW 3 series </h2> <br>
                <p class="dealprice"> Sold Out!</p> <br>



            </div>
        </section>


    </div>
    <div id="container3">

        <video autoplay loop muted id="video1">
            <source src="video1.m4v" type="video/mp4">
        </video>
        <img src="backgroundphone.png" class="phonebackground"></img>

        <div class="row">
            <div class="column3">
                <h1 class="header3"> Why? </h1>
                <br>
                <br>

                <h2>
                    Since the early 2000s, drifting in Lithuania has grown slowly but steadily until the 2018, when the
                    appreciation and participation of the sport nearly doubled.
                    We have to thank the professional drivers that are willing to go to the legal tracks and drift
                    safely as opposed to drifting illegally in the streets.
                    This is where we come into play,
                    providing athletes with the best affordable parts available to combat the use of bad and/or
                    home-made parts which with the swift growth of the sport and with the massive
                    influx of new and young athletes, happens more often than not.
                </h2>



            </div>



            <div class="column3">
                <h1 class="header3"> What do we sell? </h1>
                <br>
                <br>

                <h2>
                    Quality parts from all over the world to squeeze the most performance out of your drift missile as
                    possible. Some of the most known manufacturers include: Redline, Blueline,
                    NJT, HSD and KW. Every product that we sell is FIA certified, meaning You will be able to
                    participate in any auto-sport that you desire as well as safely and legally use
                    them in the streets. Every part also comes with a three month guarantee. If, for some reason, the
                    part arrives with a defect, we will replace the part for free or refund
                    the amount paid as swiftly as possible.
                </h2>





            </div>
        </div>
        <div class="column3contact">

            <h1 class="header3"> Contact us! </h1>
            <h2> Aras Butrimanskas, N0844425, N0844425@MY.NTU.AC.UK, Lithuania </h2>
        </div>


    </div>

    </div>
    </div>

    <h1 class="ender"> Aras Butrimanskas - N0844425 </h1>








</body>

</html>
