@page
@model WebApplication1.Pages.ThankyouModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/shop.css">
    <link rel="stylesheet" type="text/css" href="~/checkout.css">
</head>
<body>
    <section class="control">
        <header class="navi">


            <h1 class="ender"> Copyright. Aras Butrimanskas - N0844425 NTU </h1>

            <a href="index.html"><img class="pt-0" src="~/logosmall.png" alt="driftgineers logo"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a class="active" href="#">Cart</a></li>
            </ul>
        </header>
    </section>
    <main class="page payment-page">
        <section class="payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Thank you for your order!</h2>
                </div>
                <form method="post">
                    <div class="products">
                        <h3 class="text-center">You have submitted an order</h3>
                </form>
            </div>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
